@import 'scss/styles';

.zoom-image {
  @include no-user-select;
  position: static;
  background-color: black; // as the night
}

.zoom-image__ui {
  position: fixed;
  z-index: 5;
  top: 0;
  left: -200%;
  right: 0;
  height: 4rem;
  color: white;
  background-color: var(--color-midnight);
  transform: translateY(-100%);
  transition:
    left 200ms step-end,
    transform 200ms ease-in-out;

  [data-enabled="true"] & {
    left: 0;
    transform: translateY(0);
    transition:
      left 200ms step-start,
      transform 200ms ease-in-out;
  }
}

.zoom-image__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  color: white;
  border: 0;
  border-left: 2px solid currentColor;
  background-color: transparent;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-active);
    }
  }
}
.zoom-image__x {
  width: 100%;
  height: 100%;
  stroke: currentColor;
  stroke-width: 2px;
}

.zoom-image__img {
  @include no-drag;
  display: block;
  outline: none;
  transition:
    transform 200ms ease-out,
    top 200ms ease-out,
    left 200ms ease-out,
    width 200ms ease-out,
    height 200ms ease-out;

  [data-enabled="true"] & {
    position: fixed;
    z-index: 3;
    cursor: grab;
    transition:
      top 200ms ease-out,
      left 200ms ease-out,
      width 200ms ease-out,
      height 200ms ease-out;
  }
}
