.example {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightgrey;
  background-color: transparent;
  transition:
    color 500ms ease-out,
    background-color 500ms ease-out;

  h2 {
    margin: 0;
    padding: 0.75rem;
    font-weight: normal;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
  }

  &[data-status=loaded] {
    padding: 1rem;
    color: white;
    background-color: var(--color-bright);
  }
}

.example__scroll {
  font-size: 3rem;
  transition: transform 400ms cubic-bezier(.45,-0.15,.05,1.5);

  [data-scroll-direction="DOWN"] & {
    transform: rotate(180deg);
  }

  @media (min-width: 42rem) {
    font-size: 4rem;
  }
}
