.example {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: lightgrey;
  background-color: transparent;
  transition:
    color 500ms ease-out,
    background-color 500ms ease-out;

  h2 {
    margin: 0;
    padding: 0.75rem;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
  }

  &[data-status=loaded] {
    padding: 1rem;
    color: white;
    background-color: var(--color-bright);
  }
}

.example__scroll {
  font-size: 3rem;

  @media (min-width: 42rem) {
    font-size: 6rem;
  }
}
