@mixin full-blown() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @content;
}

.shaper-cell {
  --cell-size: 100%;
  --hot-corner-size: 25%;
  --timing: 160ms;
  --ease: cubic-bezier(.5,.2,0,1);
  --anim-params: var(--timing) var(--ease);
  overflow: hidden;
  position: relative;
  display: block;
  width: var(--cell-size);
  height: 0;
  padding: 0;
  padding-bottom: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: cell;
  -webkit-user-select: none;
  user-select: none;
  transition:
    border-radius 160ms cubic-bezier(.5,.2,0,1),
    opacity 160ms cubic-bezier(.5,.2,0,1);

  &:after {
    content: '';
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-midnight);
    transition:
      border-radius var(--anim-params),
      background-color var(--anim-params);
    cursor: cell;
  }

  &[data-drawn="true"] {
    border-radius: 0;
    cursor: alias;

    &:after {
      cursor: alias;
      background-color: var(--color-body);
    }
  }

  &[data-type] {
    overflow: visible;
    // border-radius: 0;
    // border-radius: 50%;
  }
  &[data-type="center-center"] {
    border-radius: 50%;

    &[data-drawn="true"] {
      border-radius: 0;
    }
  }
  &[data-type="top-left"] {
    &:after {
      border-radius: var(--cell-size) 0 0 0;
    }
  }
  &[data-type="top-right"] {
    &:after {
      border-radius: 0 var(--cell-size) 0 0;
    }
  }
  &[data-type="bottom-right"] {
    &:after {
      border-radius: 0 0 var(--cell-size) 0;
    }
  }
  &[data-type="bottom-left"] {
    &:after {
      border-radius: 0 0 0 var(--cell-size);
    }
  }

  &:hover {
    opacity: 1;

    &:after {
      background-color: var(--color-flash);
    }

    &[data-drawn="true"] {
      opacity: 1;

      &:after {
        background-color: var(--color-body);
      }
    }
  }
  &:active {
    &:after {
      background-color: var(--color-flash);
    }
  }
}

.shaper-cell__corner {
  position: absolute;
  z-index: 4;
  width: var(--hot-corner-size);
  height: var(--hot-corner-size);

  &:after {
    @include full-blown {
      content: '';
      z-index: 5;
      opacity: 1;
      background-color: var(--color-midnight);
      transform: scale(0);
      transition:
        transform var(--anim-params),
        opacity var(--anim-params);
    }
  }

  &.nw, &.ne, &.se, &.sw {
    overflow: hidden;

    &:hover {
      &:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  &.nw {
    top: 0;
    left: 0;
    border-radius: 0 0 var(--cell-size) 0;

    &:hover { cursor: nw-resize; }
  }
  &.ne {
    top: 0;
    right: 0;
    border-radius: 0 0 0 var(--cell-size);

    &:hover { cursor: ne-resize; }
  }
  &.se {
    bottom: 0;
    right: 0;
    border-radius: var(--cell-size) 0 0 0;

    &:hover { cursor: se-resize; }
  }
  &.sw {
    bottom: 0;
    left: 0;
    border-radius: 0 var(--cell-size) 0 0;

    &:hover { cursor: sw-resize; }
  }

  // [data-drawn="true"] & {
  //   &.nw, &.ne, &.se, &.sw { &:hover { cursor: alias; } }
  // }
}
