.shaper-cell {
  --cell-size: 10vw;
  --hot-corner-size: 25%;
  --ease: cubic-bezier(.45,-0.15,.05,1.5);
  overflow: hidden;
  position: relative;
  display: block;
  width: var(--cell-size);
  height: var(--cell-size);
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: crosshair;
  -webkit-user-select: none;
  user-select: none;
  transition: opacity 160ms cubic-bezier(.5,.2,0,1);

  &:after {
    content: '';
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-midnight);
    transition:
      border-radius 160ms cubic-bezier(.5,.2,0,1),
      background-color 160ms cubic-bezier(.5,.2,0,1);
    cursor: crosshair;
  }

  &[data-drawn="true"] {
    &:after {
      background-color: var(--color-body);
    }
  }
  &[data-type="top-left"] {
    &:after {
      border-radius: var(--cell-size) 0 0 0;
    }
  }
  &[data-type="top-right"] {
    &:after {
      border-radius: 0 var(--cell-size) 0 0;
    }
  }
  &[data-type="bottom-right"] {
    &:after {
      border-radius: 0 0 var(--cell-size) 0;
    }
  }
  &[data-type="bottom-left"] {
    &:after {
      border-radius: 0 0 0 var(--cell-size);
    }
  }

  &:hover {
    opacity: 0.1;
    &:after {
      background-color: white;
    }

    &[data-drawn="true"] {
      opacity: 0.6;
      // background-color: var(--color-midnight);

      &:after {
        background-color: white;
      }
    }
  }
  &:active {
    &:after {
      background-color: var(--color-flash);
    }
  }
}

.shaper-cell__corner {
  position: absolute;
  z-index: 4;
  width: var(--hot-corner-size);
  height: var(--hot-corner-size);

  &.nw { top: 0; left: 0; &:hover { cursor: nw-resize; } }
  &.ne { top: 0; right: 0; &:hover { cursor: ne-resize; } }
  &.se { bottom: 0; right: 0; &:hover { cursor: se-resize; } }
  &.sw { bottom: 0; left: 0; &:hover { cursor: sw-resize; } }
}
